body {
  background-color: #FBFFF1;
  font-family: Helvetica, sans-serif;
}

h1 {
font-size: 50px;
color: #3C3744;
text-align: center;
}

h2 {
font-size: 25px;
color: #3C3744;
text-align: center;
}

h3 {
font-size: 15px;
color: #3C3744;
text-align: center;
}

div {
  text-align: center;
}
